/* commons*/
@import '../../styles/commons.scss';

/* base styles */
.nav{
    border-bottom: 2px solid;
    @include display-flex();
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100%;

    .nav-start{
        @include display-flex();
    }

    .nav-buttons{
        .btn{
            @include button(); 
        }
        
        .secondry{
            @include sec-button();
        }

        .wide-btn{
            @include button(); 
            width: 150px;
        }
    }

    .nav-loggedin {
        display: flex;
        width: 200px;
        justify-content: flex-end;
    }
}

/* mobile styles */
.nav {
    padding: 5px 15px;

    .logo{
        width: 120px;
        height: 34px;
        position: relative;
        cursor: pointer;
    }

    .menu {
        width: 30px;
        cursor: pointer;
    }

    .nav-buttons{
        display: none;

        .skeleton-container{
            width: 100%;
        }
    }
    
    .logged-in {
        justify-content: end;
        width: 120px;
        display: none;
    
        .user-avatar {
            border-radius: 50%;
            font-family: cursive;
            border: none;
            color: white;
            background-color: #458bcb;
            font-size: 18px;
            text-align: center;
            width: 35px;
            height: 35px;
            cursor: pointer;
        }
        
        .tippy {
            @include display-flex();
            border: 2px solid #707070;
            border-radius: 8px;
            width: 150px;
            padding: 10px;
            position: absolute;
            transform: translate(0px, 54px);
            z-index: 2;
            text-align: center;
            background-color: white;
        
            ul {
                li{
                    padding: 5px;
                    cursor: pointer;
                    border-top: 2px solid #707070;
                }
        
                li:nth-child(1){
                    width: 120px;
                    border-top: none;
                }
            }
        }
    }
}

.nav-links{
    display: none;
}

/* small tablet styles */
@media screen and (min-width: 768px) {
    .nav{
        padding: 5px 10px;

        .nav-links{
            display: block;
            ul{
                @include display-flex();
                margin-left: 5px;
                font-size: 14px;
        
                li{
                    padding: 0 8px;
                    cursor: pointer
                }
            }
        }

        .nav-buttons{
            display: flex;
            width: 190px;
            justify-content: space-between;
    
            .btn{
                font-size: 14px;
            }
        }

        .logged-in {
            display: flex;
        }

        .menu{
            display: none;
        }
    }
}
/* large tablet and desktop styles */
@media screen and (min-width: 992px) {
    .nav{
        padding: 5px 25px 5px 15px;

        .nav-links{
            ul{
                margin-left: 25px;
                font-size: 15px;
        
                li{
                    padding: 0 15px;
                }
            }
        }

        .nav-buttons{
            .btn{
                font-size: 15px;
            }
        }
    }
}

/* desktop */
@media screen and (min-width: 1200px) {
    
}