@import '../../styles/commons.scss';

.razorpay,.stripe {

    .button {
        @include button();
        margin: 10px;
        height: 45px;
        width: 100%;
        justify-content: space-around;
        display: flex;
        align-items: center;
        padding: 10px;
    }
}