@import '../../styles/commons.scss';

.socialLogin{
    display: flex;
    justify-content: center;
    width: 100%;

    li{
        width: 80px;
        height: 40px;
        background: #EAF0F3;
        @include display-flex();
        margin: 0px 10px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);

        *{
            width: 30px;
            height: 30px;
        }
    }
}

.or{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color:#A4A4A4;
    width: 100%;
    font-size: 15px;

    hr{
        width: 170px;
        margin: 10px;
    }
}

/* small tablet styles */
@media screen and (min-width: 768px) {
    .socialLogin{   
        li{
            height: 40px;

            *{
                width: 30px;
                height: 30px;
            }
        }
    }
}

/* desktop */
@media screen and (min-width: 1200px) {
    .or{
        hr{
            width: 200px;
        }
    }
}