@import '../../styles/commons.scss';

.modal {
    .modalTitle {
        font-size: 18px;
        text-align: center;
    }

    .modalContent {
        padding: 20px 5px;
        text-align: center;
        font-size: 14px;
    }

    .modalButtons {
        @include display-flex();
        justify-content: space-evenly;
        padding: 5px;

        .btn {
            @include button();
            padding: 5px;
            min-width: 90px;
            max-width: 100px;
            width: auto;
            height: 35px;
        }
    
        .secondry {
            @include sec-button();
            font-weight: bold;
        }
    }
}

@media screen and (min-width: 540px) {
    .modal {
        left: 15%;
        width: 70%;
    }
}

@media screen and (min-width: 768px) {
    .modal {
        left: 22%;
        width: 56%;

        .modalTitle {
            font-size: 24px;
        }

        .modalContent {
            font-size: 16px;
        }

        .modalButtons {
            .btn {
                width: 120px;
                height: 40px;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .modal {
        left: 27%;
        width: 46%;
    }
}

@media screen and (min-width: 1200px) {
    .modal {
        left: 33%;
        width: 33%;
    }
}