@import '../commons.scss';

.container {
    .about {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        margin: auto;

        .img{
            flex: 0.4;
            max-width: 400px;
            min-width: 250px;
            padding: 5px;
        }

        .text{
            flex: 0.6;

            p{
                padding: 10px;
                text-align: justify;
                font-style: italic;
                font-weight: bold;
                color: #333;
                line-height: 20px;
            }
        }
    }
}

/* small tablet styles */
@media screen and (min-width: 768px) {
    .container{
        .about {
            flex-direction: row;
        }
    }
}