@import '../commons.scss';

/* base styles */
.container{
    :global(.form-title){
        padding: 5px 5px 10px;
        font-size: 18px;
        font-family: 'Roboto';
    }

    :global(.info) {
        font-size: 13px;
        margin-top: 10px;

        a{
            cursor: pointer;
        }
    }
}

/* small tablet styles */
@media screen and (min-width: 768px) {
    .container{
        :global(.form){
            :global(.form-title){
                font-size: 22px;
            }
        }

        :global(.info) {
            font-size: 14px;
        }
    }
}

/* large tablet and desktop styles */
@media screen and (min-width: 992px) {
}

/* desktop */
@media screen and (min-width: 1200px) {  
    .container{ 
        :global(.form-input){
            max-width: 500px;
        }
    }

}