@import '../commons.scss';

/* base styles */
.container{
    flex-direction: column;
    justify-content: center;
    background-size: contain;

    :global(.btn){
        @include button();
        margin: 10px;
        width: 100%;
        max-width: 120px;
        height: 40px;
    }

    .homeLinks{
        padding: 10px;
        background-color: #ffffffd4;
        
        .item{
            @include display-flex();
            padding: 5px 0px;
            justify-content: space-around;

            .img{
                margin: 10px;
                max-width: 100px;
                display: none;
            }

            .text{
                @include display-flex();
                justify-content: space-around;
                flex-direction: column;
                text-align: center;
                max-width: 275px;
                width: 100%;
                -webkit-box-shadow: 1px 1px 10px #80808040;
                box-shadow: 1px 1px 10px #80808040;
                border-radius: 8px;
                margin: 10px 0px;
                background-color: white;
                height: 180px;
                padding: 20px;

                h3{
                    font-size: 18px;
                    margin-bottom: 10px;
                    font-family: 'Helverica Bold';
                    text-transform: uppercase;
                }

                p{
                    font-size: 14px;
                    padding: 10px;
                }
            }

            .faqImg{
                display: none;
            }

            .faq{
                @include display-flex();
                flex-direction: column;
                text-align: center;
                border-radius: 8px;
                max-width: 275px;
                width: 100%;
                background: none;
                align-items: baseline;
                max-width: fit-content;
                text-align: start;
                padding: 0px;

                h3{
                    border-bottom: 2px solid $yellow;
                }

                .ques{
                    padding: 10px 0px;
                    border-bottom: 2px solid gray;
                    width: 100%;

                    .q{
                        @include display-flex();
                        margin-bottom: 5px;
                        justify-content: space-between;


                        h4{
                            font-size: 14px;
                        }

                        .img{
                            min-width: auto;
                            display: block;
                        }
                    }

    
                    p{
                        font-size: 12px;
                        padding-right: 40px;
                    }
                }

                .ques:nth-last-child(1){
                    border-bottom: none;
                }
            }
        }

        .item:nth-child(even){
            flex-direction: row-reverse;
        }

        .writeItem{
            @include display-flex();
            flex-direction: column;
            padding: 20px 0px;

            h3{
                font-size: 16px;
                width: 100%;
                font-family: 'Helverica Bold';
            }

            .content{
                @include display-flex();
                flex-direction: row-reverse;
                align-items: flex-start;

                .img{
                    display: none;
                }

                p{
                    font-size: 14px;
                    text-align: justify;
                }

                .text{
                    @include display-flex();
                    flex-direction: column;
                    padding: 10px;
                }

                :global(.btn){
                    max-width: 100px;
                }
            }
        }
    }
}

/* mobile styles */
@media screen and (min-width: 540px) {
    .container{
        .btn{
            max-width: 150px;
            font-size: 16px;
        }
    
        .homeLinks{
            .item{
                .img{
                    width: 30%;
                    min-width: auto;
                    max-width: none;
                    display: block;
                }
    
                .text{
                    max-width: 310px;
                    height: 200px;
    
                    h3{
                        font-size: 20px;
                    }
    
                    p{
                        font-size: 15px;
                        padding: 10px 5px;
                    }
                }

                .faqImg{
                    display: block;
                }
    
                .faq{
                    max-width: fit-content;
                    height: auto;

                    img{
                        width: 100%;
                    }
    
                    h3{
                        font-size: 24px;
                    }
    
                    .ques{
                        .q{
                            h4{
                                font-size: 16px;
                            }
    
                            .img{
                                width: 10px;
                            }
                        }
        
                        p{
                            font-size: 14px;
                        }
                    }
                }
            }
    
            .writeItem{    
                h3{
                    font-size: 20px;
                    padding-left: 10px;
                }
    
                .content{    
                    .img{
                        width: 250px;
                        display: block;
                    }    
    
                    p{
                        font-size: 15px;
                    }
    
                    .text{
                        margin-right: 30px;
                    }
    
                    :global(.btn){
                        max-width: 120px;
                    }
                }
            }
        }
    }
}

/* small tablet styles */
@media screen and (min-width: 768px) {
    .container{
        display: flex;
        align-items: center;

        :global(.btn){
            max-width: 180px;
            font-size: 18px;
            height: 50px;
        }
    
        .homeLinks{
            .item{
                .text{
                    padding: 20px;
    
                    h3{
                        font-size: 20px;
                    }
    
                    p{
                        font-size: 16px;
                        padding: 10px 5px;
                    }
                }

                .faqImg{
                    max-width: 240px;
                }
            }
    
            .writeItem{
                width: 80%;
                margin: auto;
    
                .content{
                    p{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

/* large tablet and desktop styles */
@media screen and (min-width: 992px) {
    .container{
        .homeLinks{
            .item{
                .img{
                    width: 27%;
                }
    
                .text{
                    max-width: 400px;
                    height: 250px;
                    padding: 10px 30px;
    
                    h3{
                        font-size: 20px;
                    }
    
                    p{
                        font-size: 16px;
                        padding: 10px 5px;
                    }
                }
    
                .faq{
                    h3{
                        font-size: 26px;
                    }
                }
            }
    
            .writeItem{
                padding: 50px 0px 20px;
    
                .content{
                    .text{
                        margin-right: 50px;
                    }
                }
            }
        }
    }
}

/* desktop */
@media screen and (min-width: 1200px) {  
    .container{
        display: flex;
        align-items: center;

        .homeLinks{
            width: 80%;
        }
    }
}