@import '../commons.scss';

.container {
    flex-direction: column;
    justify-content: unset;
    padding: 0px;
    font-variant: lining-nums;

    .noSave {
        @include display-flex();
        height: 85vh;
        flex-direction: column;
        background: #ffffffad;
    }

    .bottomHeader {
        text-align: center;
        padding: 10px;
        background-color: $red;
        color: white;
        margin-top: 46px;
    }

    .subContainer {
        padding: 10px;
        margin-top: 0px;
        min-height: 70vh;

        .headingContainer {
            width: 100%;
            display: flex;
            border: 1px solid #9ca0ab;
            border-bottom: none;

            .delete{
                @include display-flex();
                width: 30px;
                margin-right: 5px;
                cursor: pointer;
            }
        }

        :global(.heading) {
            flex: 1;
            background: transparent;
            max-width: none;
            font-family: 'Roboto';
            margin: 0px;
            font-weight: 599;
        }

        .headingSkeleton {
            flex: 1;
            max-width: none;
            margin: 10px 0px;
        }

        .skeleton {
            margin: 1px 0px;
        }

        .approvalStatusContainer{
            width: 100%;
            display: flex;

            .approved{
                border: 1px solid #4caf50;
                background-color: #e4ffe5;
                color: green;
            }
    
            .unApproved{
                border: 1px solid #a7a9af;
                background-color: #dfdfdf;
            }
    
            .rejected{
                background-color: #ffdfdf;
                border: 1px solid #c52f00;
                color: #e50000;
            }
    
            .approvalStatus{
                width: 100%;
                padding: 2px;
                font-size: 15px;
                border-bottom: none;
            }

            .catagory{
                padding: 2px 10px;
                font-weight: bold;
                color: #333;
                border-top: 1px solid #9ca0ab;
                border-right: 1px solid #9ca0ab;
            }
        }
    }

    .ideaDescription{
        border: 1px solid #9ca0ab;
        padding: 10px;
        min-height: 55vh;
        text-align: justify;
        font-size: 15px;
        width: 100%;
        background-color: #ffffffb0;
        white-space: pre-line;
    }
}