@import '../commons.scss';

.container {
    flex-direction: column;
    justify-content: unset;
    padding: 0px;
    font-variant: lining-nums;

    .noSave {
        @include display-flex();
        height: 85vh;
        flex-direction: column;
    }

    .bottomHeader {
        text-align: center;
        padding: 10px;
        background-color: $red;
        color: white;
        margin-top: 46px;
    }

    .subContainer {
        padding: 10px;
        margin-top: 0px;
        min-height: 70vh;

        .headingContainer {
            width: 100%;
            display: flex;
            border: 1px solid #9ca0ab;
            border-bottom: none;

            .delete{
                @include display-flex();
                width: 30px;
                margin-right: 5px;
                cursor: pointer;
            }
        }

        :global(.heading) {
            flex: 1;
            background: transparent;
            max-width: none;
            font-family: 'Helverica Bold';
            margin: 0px;
        }

        .headingSkeleton {
            flex: 1;
            max-width: none;
            margin: 10px 0px;
        }

        .skeleton {
            margin: 1px 0px;
        }

        .approvalStatus{
            width: 100%;
            padding: 2px;
            font-size: 15px;
        }

        .approved{
            border: 1px solid #4caf50;
            background-color: #99f59c;
        }

        .unApproved{
            border: 1px solid #a7a9af;
            background-color: #dfdfdf;
        }

        .rejected{
            border: 1px solid #c52f00;
            background-color: #f1977b;
        }
    }

    .ideaDescription{
        border: 2px solid;
        padding: 10px;
        min-height: 55vh;
        text-align: justify;
        font-size: 14px;
        width: 100%;
    }
}