.container {
    .imageContainer {
        width: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    p{
        font-size: 14px;
    }
}

@media screen and (min-width: 540px) {
    .container{
        .imageContainer {
            width: auto;
        }
    
        p{
            font-size: 16px;
        }
    }
}