/* variables */
$yellow : #F2DE28; 
$red : #A61F00;
$blue : #0064E5;
$white : #FFFFFF;
$black : #000000;
$disable: #ababab;

/* functions */
@mixin display-flex(){
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin button() {
    background: $red;
    border: $white;
    color: $white;
    font-weight: bold;
    width: 90px;
    height: 35px;
    border-radius: 8px;
    font-family: 'Raleway Regular';
    cursor: pointer;
    font-size: 14px;
    // box-shadow: 1px 1px 10px #80808040;
}

@mixin sec-button() {
    background: $white;
    border: 1.5px solid $black;
    color: $black;
    font-weight: normal;
}