@import './commons.scss';

/* reset */
li{
    list-style-type: none;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a{
    cursor: pointer;
}

/* base styles */
body{
    overflow-x: hidden;
    font-family: 'Raleway Regular';
}

.container{
    display: flex;
    justify-content: space-between;
    min-height: 93vh;
    background-image: url(../assets/images/background.png);
    background-size: contain;
    background-blend-mode: darken;
    background-color: #00000005;
    
    a{
        color: #0055D6;
        font-weight: bold;
        text-decoration: underline;
    }

    .loading{
        @include display-flex();
        z-index: 0;
        margin-top: 50px;
        min-height: 90vh;
        width: 100%;
    }


    .form, .sub-container{
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        z-index: 0;
        margin-top: 45px;
        min-height: 93vh;
        background-color: #ffffffd4;
        padding: 10px;

        .heading{
            width: 100%;
            max-width: 500px;
            height: 50px;
            background: #E7E7E7;
            @include display-flex();
            margin: 10px;
            text-transform: uppercase;
            
            h2{
                font-size: 20px;
                font-family: 'Helverica Bold';
            }
        }
    }

    .form-input{
        width: 100%;
        max-width: 370px;
        padding: 0px 10px;

        .top-error{
            text-align: center;
            padding: 0px 0px 5px;
        }

        .error-text{
            font-size: 14px;
            color: red;
            font-weight: bold;
            @include display-flex();
            margin-top: -5px;
            padding-bottom: 10px;
        }

        .label-error{
            @include display-flex();
            justify-content: space-between;
            font-size: 12px;

            .error-text{
                margin-top: 0px;
                padding-bottom: 0px;
            }
        }

        label{
            font-size: 16px;
            font-family: Helverica Bold;
            color: #4F5B76;
        }   

        input,select,textarea {
            width: 100%;
            height: 40px;
            margin: 5px 0px 10px 0px;
            padding: 10px;
            font-size: 14px;
            color: #1f1f1f;
            font-weight: bold;
            border: 1.5px solid #A5ACB8;
            border-radius: 4px;
            font-family: 'Raleway Regular';
            background: white;
            font-variant: lining-nums;
        }

        input::placeholder{
            color: #A5ACB8;
            font-weight: normal;
        }

        .radio-container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 100%;

            .radio-buttons {
                max-width: 370px;
                @include display-flex();
                height: 45px;
                margin: 5px 0px 12px 0px;
                justify-content: space-around;
                width: 100%;

                .radio-item {
                    @include display-flex();
                }

                input[type='radio']{
                    height: 16px;
                    width: 16px;
                    margin: 0px 5px;
                }

                label {
                    font-size: 15px;
                    font-family: 'Raleway Regular';
                    font-weight: bold;
                    color: black;
                }

                :global(.disable) {
                    color: $disable;
                }
            }
        }
    }

    .submit, .btn{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 370px;
        padding: 10px;

        .submit-btn{
            @include button();
            width: 100%;
            font-size: 14px;
            height: 50px;
        }

        .submit-btn:hover:not([disabled]) {
            box-shadow: 0px 5px 25px -5px gray;
            transform: scale(1.02);
        }

        .submit-btn:active:not([disabled]) {
            box-shadow: 0px 4px 8px gray;
            transform: scale(1);
        }

        .submit-btn:disabled{
            background: gray;
            cursor: initial;
        }
    }

    .swiper {
        width: 100%;
        height: 90vh;
        z-index: 0;
        margin-top: 35px;
        cursor: grab;
      }
      
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
      
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

}

/* modal */
.backdrop{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.72);
    z-index: 1;
    
    .modal{
        max-width: 400px;
        margin: 0px auto;
        padding: 40px 20px;
        background: white;
        border-radius: 10px;
        text-align: center;
        width: 50%;
        min-width: 270px;
    }
}


/* fonts */
@font-face {
    font-family: 'Helverica Bold';
    src: url(../assets/fonts/Helvetica-Bold.ttf);
}

@font-face {
    font-family: 'Raleway Regular';
    src: url(../assets/fonts/Raleway-Regular.ttf);
}

/* mobile styles */
.container{
    .image{
        display: none;
        background-color: #ffffffd4;

        .img{
            width: 500px
        }
    }
}

@media screen and (min-width: 768px) {
    .container{
        .form, .sub-container{
            .heading{
                height: 45px;
                border-radius: 4px;

                h2{
                    font-size: 18px;
                }
            }
        }

        .form-input{
            .label-error{
                .error-text{
                    font-size: 14px;
                }
            }

            .error-text{
                font-size: 16px;
            }

            label{
                font-size: 17px;
            }
    
            input,select{
                margin: 5px 0px 12px 0px;
                font-size: 15px;
                height: 45px;
            }
        }
    
        .submit, .btn{
            .submit-btn{
                font-size: 18px;
                height: 50px;
                margin: 10px 0px;
            }
        }

        .swiper{
            height: 94vh;
        }
    }
}



/* large tablet and desktop styles */
@media screen and (min-width: 992px) {
    .container{
        .image{
            @include display-flex();
            flex: 0.5;
            padding: 10px;
    
            img{
                width: 100%;
                max-width: 500px;
            }

            .form-input {
                label{
                    font-size: 18px;
                }
            }
        }

        .form{
            padding: 0px 10px;
            flex: 0.5;
        }      
    }
}

/* desktop */
@media screen and (min-width: 1200px) {
    .container{
        .form, .sub-container{
            .heading{
                height: 55px;
                border-radius: 8px;
            }

            .form-input {
                label{
                    font-size: 18px;
                }
            }
        }
    
        .submit, .btn {
            max-width: 500px;

            .submit-btn{
                margin: 0px;
            }
        }
    }

}