@import '../commons.scss';

.container {
    ul{
        padding: 10px;

        li{
            list-style-type: unset;
            margin: 8px;
        }
    }

    .btn{
        @include button();
        padding: 10px;
        width: 120px;
        height: 40px;
        margin: 10px;
    }
}